/* body{
    background-color:#e8e8e8;
    margin: 160px;
    padding: 0px;
    display: flex;
    align-items: center;
    min-height: 60vh;
    display:inline-block
}
.fromm{
    border-radius: 15px;
    width: 290px;
     */
/* } */

/* .a1{
    padding: 100px;
    margin: 30px;
}
.nn{
    height: 5ex;
}
.ll{
    height: 5ex;
}
.nn{
    height: 5ex;
}
.ee{
    height: 5ex;
    margin-left: 30px;
}
.pp{
    height: 5ex;
    margin-left: 12px;
}
.dd{
    margin-right: 61px;
}
.rdi{
    margin-left: 150px;
}
.gg{
    height: 55px;
    margin-right: 100px;
} */




/* .rdi{
    padding: 0%;
    width: 0%;
    margin-left: 40px;
    display:inline-block ;
} */